appointment-concierge/n8n/assistant-request-workflow.json
{"updatedAt":"2026-05-15T06:22:47.909Z","createdAt":"2026-05-14T08:54:53.204Z","id":"RlxRvGgtWcSh1ZQp","name":"BizElevate VAPI Assistant Request Handler","description":null,"active":true,"isArchived":false,"nodes":[{"id":"node1","name":"VAPI Assistant Request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"path":"vapi-assistant-request","httpMethod":"POST","responseMode":"responseNode","options":{}},"webhookId":"b114d321-8e2b-444e-a5eb-f10db4ebedfc"},{"id":"node2","name":"Extract Called Number","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst message = body.message || body;\nconst calledNumber = message.phoneNumber?.number || '';\nconst callerNumber = message.call?.customer?.number || '';\nconst callId = message.call?.id || '';\nreturn [{ json: { calledNumber, callerNumber, callId } }];"}},{"id":"node3","name":"Lookup Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"GET","url":"=https://gdzpgimyjgfzhnwyojmz.supabase.co/rest/v1/phone_number_map?select=client_id,capability&phone_number=eq.{{ encodeURIComponent($('Extract Called Number').item.json.calledNumber) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"}]},"options":{}}},{"id":"node4","name":"Client Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ Array.isArray($json) && $json.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"node5","name":"Fetch Client Config","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,180],"parameters":{"method":"GET","url":"=https://gdzpgimyjgfzhnwyojmz.supabase.co/rest/v1/clients?select=id,name,agent_name,voice_id,business_hours,booking_link,owner_phone&id=eq.{{ encodeURIComponent($('Lookup Client').item.json[0]?.client_id || '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"}]},"options":{}}},{"id":"node6","name":"Build Assistant Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,180],"parameters":{"jsCode":"const rows = $('Fetch Client Config').first().json;\nconst client = Array.isArray(rows) ? rows[0] : rows;\n\nconst clinicName = client?.name || 'Riverside Dental';\nconst agentName = client?.agent_name || 'Casey';\nconst voiceId = client?.voice_id || '21m00Tcm4TlvDq8ikWAM';\n\nlet clinicHours = 'Monday to Friday, 8am to 5pm';\nif (client?.business_hours) {\n  const bh = typeof client.business_hours === 'string'\n    ? JSON.parse(client.business_hours) : client.business_hours;\n  const dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\n  const days = (bh.days || [1,2,3,4,5]).map(d => dayNames[d]).join(', ');\n  const fmt = h => h < 12 ? h + 'am' : h === 12 ? '12pm' : (h-12) + 'pm';\n  clinicHours = days + ', ' + fmt(bh.start || 8) + ' to ' + fmt(bh.end || 17);\n}\n\nconst PROMPT = \"# Casey — Rapid Intake Agent (v3.1)\\n\\nYou are Casey, an AI voice assistant for Riverside Dental.\\n\\nThe caller has already heard your introduction and been asked for their name. Pick up from there.\\n\\nYour only job: confirm the name, confirm a callback number, get the reason — then close. Under 60 seconds total.\\n\\n---\\n\\n## Core Rules\\n\\n- **Maximum 2 sentences per turn.** Never longer.\\n- **\\\"yes\\\", \\\"yeah\\\", \\\"yep\\\", \\\"correct\\\", \\\"that's right\\\", \\\"uh huh\\\", \\\"mm-hmm\\\", \\\"sure\\\"** = confirmed. Move on immediately. Do not re-ask.\\n- **Never repeat a question more than once.**\\n- **No filler openers.** Do not say \\\"Great!\\\", \\\"Absolutely!\\\", \\\"Of course!\\\", \\\"Certainly!\\\".\\n- **No end summary.** Do not read all details back before closing.\\n- **End the call immediately** after the closing line.\\n\\n---\\n\\n## Step 1 — Confirm Name\\n\\nThe caller is responding to \\\"Can I get your name please?\\\"\\n\\nRepeat the **first name only** back once:\\n\\n> \\\"Thanks — just to confirm, that's [First Name]?\\\"\\n\\nIf yes → move to Step 2.\\nIf correction → accept it and move on. Do not ask again.\\n\\nUse **first name only** for all subsequent address.\\n\\n---\\n\\n## Step 2 — Callback Number\\n\\n`{{customer.number}}` is the number the caller is calling from.\\n\\n**Convert to Australian local format before using:**\\nIf `{{customer.number}}` starts with `+61`, replace `+61` with `0`.\\nExample: `+61433664338` → `0433664338`\\n\\n**Validate:** a valid Australian mobile starts with `04` and is exactly 10 digits.\\n\\n**If valid after conversion:**\\n> \\\"Is [converted number] the best number for us to call you back on?\\\"\\n\\nRead the number in groups of 4-3-3, saying \\\"oh\\\" for the digit 0.\\nExample: `0433664338` → \\\"oh-four-three-three, six-six-four, three-three-eight\\\"\\n\\n- Yes → confirmed, go to Step 3.\\n- No → ask once: \\\"What's the best number?\\\" → read it back once in groups of 4-3-3 → confirmed, go to Step 3.\\n\\n**If invalid or empty:**\\n> \\\"What's the best mobile number for us to reach you on?\\\"\\n\\nRead it back once in groups of 4-3-3. Confirmed → go to Step 3.\\n\\n---\\n\\n## Step 3 — Reason\\n\\n> \\\"And briefly — what's the reason for your call today?\\\"\\n\\nAccept any answer. Do not probe or ask follow-ups.\\n\\n---\\n\\n## Step 4 — Close\\n\\nImmediately after the reason is given:\\n\\n> \\\"Perfect — we've got your details [First Name]. The team will be in touch shortly. Have a great day.\\\"\\n\\nEnd the call immediately. Do not add anything after this line.\\n\\n---\\n\\n## General Questions (FAQ)\\n\\nIf the caller asks a general question — hours, services, fees, health funds, parking, preparation, aftercare — **answer from the knowledge base file first** before doing anything else.\\n\\nRules:\\n- If the answer is in the knowledge base: answer it in 1–2 sentences, then ask if there is anything else or offer to take their details.\\n- If the answer is not in the knowledge base: say \\\"That's something the team can answer when they call you back\\\" — do not guess or invent information.\\n- Never say \\\"someone will call you\\\" for a question that has a clear answer in the knowledge base.\\n\\nAfter answering a general question, if the caller has no other queries, offer to take their details for a callback or booking — then proceed through Steps 1–4 as normal.\\n\\n---\\n\\n## Emergency Exception\\n\\nIf the caller mentions severe pain, inability to breathe, or a medical emergency:\\n\\n> \\\"Please call 000 immediately or go to your nearest emergency department.\\\"\\n\\nEnd the call.\";\n\nconst systemPrompt = PROMPT\n  .replace(/Riverside Dental/g, clinicName)\n  .replace(/Casey/g, agentName)\n  .replace(/Monday to Friday, 8am to 5pm/g, clinicHours);\n\nreturn [{ json: {\n  assistant: {\n    name: agentName,\n    model: {\n      provider: 'openai',\n      model: 'gpt-4o-mini',\n      temperature: 0.5,\n      maxTokens: 120,\n      systemPrompt\n    },\n    voice: {\n      provider: '11labs',\n      voiceId,\n      stability: 0.5,\n      similarityBoost: 0.75,\n      speed: 1.05\n    },\n    firstMessage: 'Thanks for calling ' + clinicName + ' — I\\'m ' + agentName + ', an AI assistant. Can I get your name please?',\n    endCallMessage: 'Have a great day.',\n    serverUrl: 'https://bizelevate1.app.n8n.cloud/webhook/vapi-appointment',\n    serverMessages: ['end-of-call-report'],\n    endCallFunctionEnabled: true,\n    recordingEnabled: true,\n    transcriptionEnabled: true,\n    stopSpeakingPlan: {\n      numWords: 0,\n      voiceSeconds: 0.2,\n      backoffSeconds: 0.5\n    },\n    startSpeakingPlan: {\n      waitSeconds: 0.3,\n      smartEndpointingEnabled: true\n    }\n  }\n}}];"}},{"id":"node7","name":"Respond to VAPI","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,180],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}}},{"id":"node8","name":"Fallback - Phone Not Mapped","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,420],"parameters":{"respondWith":"json","responseBody":"={\"assistantId\":\"71a4eb56-ac9c-44a8-a7eb-7e61405e42a5\"}","options":{"responseCode":200}}}],"connections":{"VAPI Assistant Request":{"main":[[{"node":"Extract Called Number","type":"main","index":0}]]},"Extract Called Number":{"main":[[{"node":"Lookup Client","type":"main","index":0}]]},"Lookup Client":{"main":[[{"node":"Client Found?","type":"main","index":0}]]},"Client Found?":{"main":[[{"node":"Fetch Client Config","type":"main","index":0}],[{"node":"Fallback - Phone Not Mapped","type":"main","index":0}]]},"Fetch Client Config":{"main":[[{"node":"Build Assistant Config","type":"main","index":0}]]},"Build Assistant Config":{"main":[[{"node":"Respond to VAPI","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"fecf3527-ae88-4460-8a00-32eec0a1bee4","activeVersionId":"fecf3527-ae88-4460-8a00-32eec0a1bee4","versionCounter":17,"triggerCount":1,"sourceWorkflowId":null,"shared":[{"updatedAt":"2026-05-14T08:54:53.207Z","createdAt":"2026-05-14T08:54:53.207Z","role":"workflow:owner","workflowId":"RlxRvGgtWcSh1ZQp","projectId":"2R2MV4SkSQnvI5lj","project":{"updatedAt":"2026-01-09T21:04:26.310Z","createdAt":"2026-01-09T21:04:20.780Z","id":"2R2MV4SkSQnvI5lj","name":"Shiju Jabbar <support@bizelevate.au>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"25794552-ac5e-4908-9628-702827419423"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-15T06:22:47.910Z","createdAt":"2026-05-15T06:22:47.910Z","versionId":"fecf3527-ae88-4460-8a00-32eec0a1bee4","workflowId":"RlxRvGgtWcSh1ZQp","nodes":[{"id":"node1","name":"VAPI Assistant Request","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"parameters":{"path":"vapi-assistant-request","httpMethod":"POST","responseMode":"responseNode","options":{}},"webhookId":"b114d321-8e2b-444e-a5eb-f10db4ebedfc"},{"id":"node2","name":"Extract Called Number","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300],"parameters":{"jsCode":"const body = $input.first().json.body || $input.first().json;\nconst message = body.message || body;\nconst calledNumber = message.phoneNumber?.number || '';\nconst callerNumber = message.call?.customer?.number || '';\nconst callId = message.call?.id || '';\nreturn [{ json: { calledNumber, callerNumber, callId } }];"}},{"id":"node3","name":"Lookup Client","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300],"parameters":{"method":"GET","url":"=https://gdzpgimyjgfzhnwyojmz.supabase.co/rest/v1/phone_number_map?select=client_id,capability&phone_number=eq.{{ encodeURIComponent($('Extract Called Number').item.json.calledNumber) }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"}]},"options":{}}},{"id":"node4","name":"Client Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[900,300],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c1","leftValue":"={{ Array.isArray($json) && $json.length > 0 }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"}}},{"id":"node5","name":"Fetch Client Config","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,180],"parameters":{"method":"GET","url":"=https://gdzpgimyjgfzhnwyojmz.supabase.co/rest/v1/clients?select=id,name,agent_name,voice_id,business_hours,booking_link,owner_phone&id=eq.{{ encodeURIComponent($('Lookup Client').item.json[0]?.client_id || '') }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkenBnaW15amdmemhud3lvam16Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjY5NTE4MywiZXhwIjoyMDg4MjcxMTgzfQ.Ht06SV8_5ePdN54CB_jYiOhAFpvLxxN45NNe5LJV0pw"}]},"options":{}}},{"id":"node6","name":"Build Assistant Config","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,180],"parameters":{"jsCode":"const rows = $('Fetch Client Config').first().json;\nconst client = Array.isArray(rows) ? rows[0] : rows;\n\nconst clinicName = client?.name || 'Riverside Dental';\nconst agentName = client?.agent_name || 'Casey';\nconst voiceId = client?.voice_id || '21m00Tcm4TlvDq8ikWAM';\n\nlet clinicHours = 'Monday to Friday, 8am to 5pm';\nif (client?.business_hours) {\n  const bh = typeof client.business_hours === 'string'\n    ? JSON.parse(client.business_hours) : client.business_hours;\n  const dayNames = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'];\n  const days = (bh.days || [1,2,3,4,5]).map(d => dayNames[d]).join(', ');\n  const fmt = h => h < 12 ? h + 'am' : h === 12 ? '12pm' : (h-12) + 'pm';\n  clinicHours = days + ', ' + fmt(bh.start || 8) + ' to ' + fmt(bh.end || 17);\n}\n\nconst PROMPT = \"# Casey — Rapid Intake Agent (v3.1)\\n\\nYou are Casey, an AI voice assistant for Riverside Dental.\\n\\nThe caller has already heard your introduction and been asked for their name. Pick up from there.\\n\\nYour only job: confirm the name, confirm a callback number, get the reason — then close. Under 60 seconds total.\\n\\n---\\n\\n## Core Rules\\n\\n- **Maximum 2 sentences per turn.** Never longer.\\n- **\\\"yes\\\", \\\"yeah\\\", \\\"yep\\\", \\\"correct\\\", \\\"that's right\\\", \\\"uh huh\\\", \\\"mm-hmm\\\", \\\"sure\\\"** = confirmed. Move on immediately. Do not re-ask.\\n- **Never repeat a question more than once.**\\n- **No filler openers.** Do not say \\\"Great!\\\", \\\"Absolutely!\\\", \\\"Of course!\\\", \\\"Certainly!\\\".\\n- **No end summary.** Do not read all details back before closing.\\n- **End the call immediately** after the closing line.\\n\\n---\\n\\n## Step 1 — Confirm Name\\n\\nThe caller is responding to \\\"Can I get your name please?\\\"\\n\\nRepeat the **first name only** back once:\\n\\n> \\\"Thanks — just to confirm, that's [First Name]?\\\"\\n\\nIf yes → move to Step 2.\\nIf correction → accept it and move on. Do not ask again.\\n\\nUse **first name only** for all subsequent address.\\n\\n---\\n\\n## Step 2 — Callback Number\\n\\n`{{customer.number}}` is the number the caller is calling from.\\n\\n**Convert to Australian local format before using:**\\nIf `{{customer.number}}` starts with `+61`, replace `+61` with `0`.\\nExample: `+61433664338` → `0433664338`\\n\\n**Validate:** a valid Australian mobile starts with `04` and is exactly 10 digits.\\n\\n**If valid after conversion:**\\n> \\\"Is [converted number] the best number for us to call you back on?\\\"\\n\\nRead the number in groups of 4-3-3, saying \\\"oh\\\" for the digit 0.\\nExample: `0433664338` → \\\"oh-four-three-three, six-six-four, three-three-eight\\\"\\n\\n- Yes → confirmed, go to Step 3.\\n- No → ask once: \\\"What's the best number?\\\" → read it back once in groups of 4-3-3 → confirmed, go to Step 3.\\n\\n**If invalid or empty:**\\n> \\\"What's the best mobile number for us to reach you on?\\\"\\n\\nRead it back once in groups of 4-3-3. Confirmed → go to Step 3.\\n\\n---\\n\\n## Step 3 — Reason\\n\\n> \\\"And briefly — what's the reason for your call today?\\\"\\n\\nAccept any answer. Do not probe or ask follow-ups.\\n\\n---\\n\\n## Step 4 — Close\\n\\nImmediately after the reason is given:\\n\\n> \\\"Perfect — we've got your details [First Name]. The team will be in touch shortly. Have a great day.\\\"\\n\\nEnd the call immediately. Do not add anything after this line.\\n\\n---\\n\\n## General Questions (FAQ)\\n\\nIf the caller asks a general question — hours, services, fees, health funds, parking, preparation, aftercare — **answer from the knowledge base file first** before doing anything else.\\n\\nRules:\\n- If the answer is in the knowledge base: answer it in 1–2 sentences, then ask if there is anything else or offer to take their details.\\n- If the answer is not in the knowledge base: say \\\"That's something the team can answer when they call you back\\\" — do not guess or invent information.\\n- Never say \\\"someone will call you\\\" for a question that has a clear answer in the knowledge base.\\n\\nAfter answering a general question, if the caller has no other queries, offer to take their details for a callback or booking — then proceed through Steps 1–4 as normal.\\n\\n---\\n\\n## Emergency Exception\\n\\nIf the caller mentions severe pain, inability to breathe, or a medical emergency:\\n\\n> \\\"Please call 000 immediately or go to your nearest emergency department.\\\"\\n\\nEnd the call.\";\n\nconst systemPrompt = PROMPT\n  .replace(/Riverside Dental/g, clinicName)\n  .replace(/Casey/g, agentName)\n  .replace(/Monday to Friday, 8am to 5pm/g, clinicHours);\n\nreturn [{ json: {\n  assistant: {\n    name: agentName,\n    model: {\n      provider: 'openai',\n      model: 'gpt-4o-mini',\n      temperature: 0.5,\n      maxTokens: 120,\n      systemPrompt\n    },\n    voice: {\n      provider: '11labs',\n      voiceId,\n      stability: 0.5,\n      similarityBoost: 0.75,\n      speed: 1.05\n    },\n    firstMessage: 'Thanks for calling ' + clinicName + ' — I\\'m ' + agentName + ', an AI assistant. Can I get your name please?',\n    endCallMessage: 'Have a great day.',\n    serverUrl: 'https://bizelevate1.app.n8n.cloud/webhook/vapi-appointment',\n    serverMessages: ['end-of-call-report'],\n    endCallFunctionEnabled: true,\n    recordingEnabled: true,\n    transcriptionEnabled: true,\n    stopSpeakingPlan: {\n      numWords: 0,\n      voiceSeconds: 0.2,\n      backoffSeconds: 0.5\n    },\n    startSpeakingPlan: {\n      waitSeconds: 0.3,\n      smartEndpointingEnabled: true\n    }\n  }\n}}];"}},{"id":"node7","name":"Respond to VAPI","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1560,180],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200}}},{"id":"node8","name":"Fallback - Phone Not Mapped","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1120,420],"parameters":{"respondWith":"json","responseBody":"={\"assistantId\":\"71a4eb56-ac9c-44a8-a7eb-7e61405e42a5\"}","options":{"responseCode":200}}}],"connections":{"VAPI Assistant Request":{"main":[[{"node":"Extract Called Number","type":"main","index":0}]]},"Extract Called Number":{"main":[[{"node":"Lookup Client","type":"main","index":0}]]},"Lookup Client":{"main":[[{"node":"Client Found?","type":"main","index":0}]]},"Client Found?":{"main":[[{"node":"Fetch Client Config","type":"main","index":0}],[{"node":"Fallback - Phone Not Mapped","type":"main","index":0}]]},"Fetch Client Config":{"main":[[{"node":"Build Assistant Config","type":"main","index":0}]]},"Build Assistant Config":{"main":[[{"node":"Respond to VAPI","type":"main","index":0}]]}},"nodeGroups":[],"authors":"Shiju Jabbar","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-15T06:22:48.115Z","id":98,"workflowId":"RlxRvGgtWcSh1ZQp","versionId":"fecf3527-ae88-4460-8a00-32eec0a1bee4","event":"activated","userId":"25794552-ac5e-4908-9628-702827419423"},{"createdAt":"2026-05-15T06:22:48.019Z","id":97,"workflowId":"RlxRvGgtWcSh1ZQp","versionId":"fecf3527-ae88-4460-8a00-32eec0a1bee4","event":"deactivated","userId":"25794552-ac5e-4908-9628-702827419423"}]}}